@font-face {
    font-display: swap;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: var(--font-weight-normal);
    src: url('./assets/fonts/encode-sans-v19-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Encode Sans';
    font-style: normal;
    font-weight: var(--font-weight-semi-bold);
    src: url('./assets/fonts/encode-sans-v19-latin_latin-ext-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: var(--font-weight-normal);
    src: url('./assets/fonts/inter-v18-latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: italic;
    font-weight: var(--font-weight-normal);
    src: url('./assets/fonts/inter-v18-latin_latin-ext-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: var(--font-weight-semi-bold);
    src: url('./assets/fonts/inter-v18-latin_latin-ext-600.woff2') format('woff2');
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c084b5;
}

img {
    width: 160px;
    height: 160px;
}

div {
    margin-bottom: 5px;
}



form {
    display: flex;
    flex-direction: column;
}




hr {
    display: block;
    width: 80%;
}
.messagesErreurs {
    text-align: center;
    color: var(--error);
}

.input-box {
    width: 300px;
}

.sign-upButton {
    display: flex;
    flex-direction: column;
    align-self: center;
}

label {
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-semi-bold);

}

p {
    font-family: 'Inter';
    font-size: var(--p-small-font-size);
    color: var(--black);
    margin: 5px 0;
    font-weight: var(--font-weight-normal);
}

#necessary-fields-label {
    color: var(--grey3);
    font-size: var(--p-small-font-size);

    margin-bottom: 10px;
}

#passwordMismatch {
    color: var(--error);
    font-size: var(--p-small-font-size);
}


<div>
                    <?php
                    //Recupération des nomTag
                    $sql = "SELECT nomTag FROM _tag";
                    $stmt = $pdo->prepare($sql);
                    $stmt->execute();

                    // Récupération des résultats sous forme de tableau 
                    $tabTag = $stmt->fetchAll(PDO::FETCH_ASSOC);
                    ?>
                    <fieldset>
                        <label>Tag</label>
                        <?php foreach($tabTag as $tag){ ?>
                        <div>
                            <input type="checkbox" id=<?php echo($tag); ?> value=<?php echo($tag); ?>name='tag[]'/>
                        </div>
                        <?php }?>
                    </fieldset>
                </div>