@import url("/ui.css");

/*@media (min-width:1025px)*/
body > header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--blanc);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    z-index: 1000;
    font-family: 'Encode Sans', serif;

    & > .input-wrapper {
        display: none;
    }

    > a {
        display: flex;
        align-items: center;
        text-decoration: none;

        img {
            height: 56px;
        }

        span {
            font-size: var(--h2-font-size);
            font-weight: bold;
            margin-left: 10px;
        }
    }

    div {


        &:nth-of-type(1) input {
            width: 300px;
        }

        &:nth-of-type(2) .input-wrapper {
            min-width: 500px;
        }

        &:last-of-type {
            button {
                padding: 8px 16px;
                border-radius: 4px;
            }
        }
    }

    nav > a {
        margin: 0 10px;
        text-decoration: none;
        color: var(--gris3);
        font-weight: bold;
    }

}

.entete-langue {
    display: flex;
    align-items: center;

    img {
        height: 20px;
        margin-right: 5px;
    }

    select {
        padding: 5px;
        border: 1px solid var(--gris2);
        border-radius: 4px;
    }
}

.entete-profil {
    position: relative;
    display: inline-block;
}

.selecteur-profil {
    width: 200px; /* Largeur du sélecteur */
    padding: 10px; /* Espacement interne */
    color: white; /* Texte blanc */
    border: none; /* Pas de bordures */
    border-radius: 5px; /* Bordures arrondies */
    font-size: 14px; /* Taille du texte */
    text-align: center; /* Texte centré */
    cursor: pointer; /* Curseur pointeur au survol */
    appearance: none; /* Supprimer le style natif */
    -webkit-appearance: none; /* Pour compatibilité Safari */
}

.selecteur-profil.profil-member {
    background-color: var(--primaire-membre); /* Fond bleu */
}

.selecteur-profil.profil-pro {
    background-color: var(--primaire-pro); /* Fond mauve */
}

.selecteur-profil.profil-member:hover {
    background-color: #044475; /* Changer la couleur au survol */
}

.selecteur-profil.profil-member:focus {
    outline: none; /* Supprimer les bordures de focus par défaut */
    box-shadow: 0 0 5px #044475; /* Ajouter une lueur de focus */
}

.selecteur-profil.profil-pro:hover {
    background-color: #4b2b63; /* Changer la couleur au survol */
}

.selecteur-profil.profil-member:focus {
    outline: none; /* Supprimer les bordures de focus par défaut */
    box-shadow: 0 0 5px #4b2b63; /* Ajouter une lueur de focus */
}

.selecteur-profil option {
    background-color: white; /* Fond blanc pour les options déroulantes */
    color: black; /* Texte noir dans les options */
}


.span-pact-guest {
    color: var(--primaire-visiteur);
}

.span-pact-member {
    color: var(--primaire-membre);
}

.span-pact-pro {
    color: var(--primaire-pro);
}

.input-icon {
    fill: var(--primaire-visiteur);
}

.hamburger, .menu {
    display: none;
}

.noscroll {
    overflow: hidden;
    /*filter: blur(5px);*/
}


@media screen and (max-width: 1024px) {
    body > header {

        overflow-x: hidden;
        padding: 0 5px;

        & > .input-wrapper {
            display: flex;
        }

        > div {
            > img {
                width: 10vw;

            }

            &:nth-of-type(1) input {
                width: 50vw;
            }

            &:nth-of-type(2) .input-wrapper {
                display: none;
            }

            &:nth-of-type(4) {
                display: none;
            }
        }

        > nav, > .entete-langue, [class^='span-pact-'] {
            display: none;
        }

    }

    .hamburger {
        display: inline;
        z-index: 100;
        padding-top: 4px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .menuIcon {
        font-size: 32px;
    }

    .closeIcon {
        display: none;
        font-size: 32px;
    }

    .menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50vh;
        transform: translateX(200%);
        transition: transform 0.2s;
        top: 0;
        right: 0;
        z-index: 99;
        padding: 4rem 2rem 1rem;
        background-color: var(--blanc);
        border-radius: 5px;

        > a {
            margin: 0 10px;
            text-decoration: none;
            color: var(--gris3);
            font-weight: bold;
        }
    }

    #overlay {
        background-color: var(--gris3);
        filter: opacity(50%);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 90;
        visibility: hidden;
    }


    .showMenu {
        transform: translateX(0);
    }

}