body {
    margin: 0;
}

.conteneur-offres {
    width: 70%;
    max-width: 50em;
    margin: 1em auto;
}


.conteneur-filtres-offres{
    display: flex;
    justify-content: space-between;
}

.tris{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--gris1);
    border-radius: 1em;
    font-size: 16px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: border-color 0.3s;
    background-color: white;
    position: relative !important;
    right: 150px;
    margin-top: 10px !important;
    height: fit-content !important;
}

.select-wrapper select {
    width: 300px !important;
    color: var(--secondaire-pro);
}

.checkbox-wrapper {
    background-color: var(--gris1) !important;
    padding-left: 5px !important;
    border-radius: 1em;
    border: 1px solid var(--gris1);
}

.carte-offre {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 45em;
    height: 12em;
    border-radius: 1em;
    border: 1px solid var(--gris1);
    transition: transform 0.2s ease;
    margin: 1em auto 4em;
    position: relative;
}

.svg-inline svg {
    stroke: var(--primaire-pro);
}

.carte-offre:hover {
    transform: scale(1.02);
}

.image-offre {
    flex: 1;
    border-radius: 1em 0 0 1em;
    place-items: center;
    background-color: var(--gris1);
}

.image-carte {
    width: 100%;
    height: 100%;
    border-radius: 1em 0 0 1em;
}

.details-offre {
    flex: 2;
}

.donnees-offre {
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gris1);
}

.titre {
    padding: 0em;
    display: flex;
    justify-content: space-between;
}

.infos-offre {
    padding: 0em 2em;
    display: flex;
    justify-content: space-between;
}

.prix-offre {
    padding: 0em 5em;
    display: flex;
    justify-content: space-between;
}

.prix {
    color: var(--secondaire-pro);
}

.onglets {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 5em;
    font-size: var(--h2-font-size);
    font-family: 'Encode Sans';
}

.onglet {
    text-decoration: none;
    color: var(--gris2);
}

.onglet.actif {
    text-decoration: underline;
    color: var(--primaire-pro);
}

.titre-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 50em;
    margin: 1em auto;
}

.button-container {
    display: flex;
    position: absolute;
    top: 0em;
    right: 0em;
}

footer {
    position: fixed;
    bottom: 0;
}

.button-modif {
    border-radius: 0px 1em !important;
}
.svg-inline svg {
    width: 20px;
    height: 20px;
    stroke: var(--primaire-pro);
    fill: rgba(0, 0, 0, 0);
}

section {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}

.bouton {
    display: flex;
    flex-direction: column;
}

.nombreOffres{
    font-family: 'Inter', sans-serif !important;
    font-size: var(--p-medium-font-size) !important;
    color: var(--noir) !important;
    margin: 5px 0 !important;
    font-weight: var(--font-weight-normal) !important;
}

.sliders_control {
    padding-top: 10px;
}

.barre{
    margin-top: 40px;
    margin-right: 40px;
}

#styleShadow{
    height: fit-content;
    padding: 20px 10px 10px 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gris1);
    border-radius: 1em;
}

.test{
    width: 285px !important;
}

.stretch{
    display: grid !important;
    gap: 10px !important;
}


.form_control{
    justify-content: space-evenly !important;
    color: var(--secondaire-pro) !important;
}

p{
    display: flex !important;
    justify-content: center !important;
}

.rangement{
    width: 722px;
}

#searchForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="range"] {

    background-color: var(--secondaire-pro) !important; 

    
}

.sliders_control{
    min-height: 20px !important;
}

.buttonCarte{
    margin:  0 0 0 10px !important;
}

.button-facture {
    border-radius: 0em 0em 5px 5px !important;
}