body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: var(--noir);
}

.container {
    width: fit-content;
    font-size: 14px;
    padding: 20px;
    max-width: 70em;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.carousel {
    background-color: var(--gris1);
    width: 22em;
    height: 22em;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
}

.carousel-images {
    display: flex;
    transition: transform 0.3s ease;
    width: 22em;
    height: 22em;
}

.carousel-image {
    min-width: 22em;
    min-height: 22em;
    display: grid;
    place-items:center;
    width: 22em;
    height: 22em;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-button.desactive{
    display: none;
}

.carousel-button:has(~ .carousel-images > .pas-images){
    display: none;
}

.carousel-button {
    z-index: 2;
    position:absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carousel-button.prev {
    left: 15px;
}

.carousel-button.next {
    right: 15px;
}

.carousel:hover .carousel-button {
    opacity: 1;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.offre-infos {
    width: 45%;
}

.offre-info > label {
    width: fit-content;
    max-width: 60%;
}

.offre-prix {
    font-size: var(--p-large-font-size);
}

.offre-detail {
    align-items: baseline;
    height: fit-content;
    color: var(--gris3);
}

.titre-offre {
    font-size: var(--h1-font-size);
    font-family: 'Encode Sans', sans-serif;
    margin: 0.8em 0;
    text-align: center;
}

.titre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: var(--h1-font-size);
    padding: 10px;
    color: var(--noir);
}

.btn {
    align-self: flex-end;
}

body a {
    color: var(--primaire-membre);
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}


header a {
    color: initial;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.offre-package-modification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.svg-inline svg {
    width: 20px;
    height: 20px;
    stroke: var(--primaire-visiteur);
    fill: var(--primaire-visiteur);
}

.offre-description svg:first-of-type{
    width: 20px;
    height: 20px;
    stroke: var(--primaire-visiteur);
    fill: rgba(0, 0, 0, 0);
}