.container {
    padding: 20px;
    display: flex;
    gap: 20px;
    max-width: 70%;
    margin: 0 auto;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.carousel {
    background-color: red;
    width: 30%;
    height: 30%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.carousel-images {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.offre-info {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    align-self: flex-end;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: var(--grey3);
}

h1 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: var(--font-weight-semi-bold);
    text-align: center;
    color: var(--black);
    margin-bottom: 20px;
}

a {
    color: var(--primary-member);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.carousel-button {
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.carousel-button.prev {
    left: 15px;
}

.carousel-button.next {
    right: 15px;
}

.carousel:hover .carousel-button {
    opacity: 1;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-button svg {
    width: 20px;
    height: 20px;
    fill: white;
    transition: fill 0.2s ease;
}

.carousel-button:hover svg {
    fill: white;
}
