@media (max-width: 500px){


    .tri-somie{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px 0;
        padding: 10px 12px;
    }

}


.offres-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 5em;
}

.offre{
    margin: 0; 
    
}

.body{
    margin: 0;
}




.button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.button-container button {
    height: 40px;
    display: flex;
    align-items: center;
}
.input {
    display: flex;
    gap: 10px;
}



.select-wrapper{
    display: flex !important;
    width: 220px !important;
    margin-bottom: 0 !important;

}

.select-wrapper select{
    color: var(--primaire-visiteur) !important;
    border: 1px solid var(--gris2) !important;
}

.triviennois{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    gap: 20px !important;
    justify-content: center !important;
    margin-top: 20px !important;
}

#styleShadow{
    height: fit-content;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gris1);
    border-radius: 1em;
    max-width: 250px;
    width: 200px;
    
}



.checkbox-wrapper{
    background-color: var(--gris1) !important;
    padding-left: 5px !important;
    border-radius: 0.4em;
    border: 1px solid var(--gris1);
    padding: 5px !important;
}

.sliders_control{
    min-width: 150px !important;
    min-height: 20px !important;

}

.slider-select-wrapper{
    padding-top: 10px !important;
}

.form_control_container{
    color:var(--primaire-visiteur) !important;
}

input[type="number"]{
    width: 60px !important;
}

.input{
    display: block;
    margin-top: 20px;
}

.tri-somie{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px 12px;

    > .input-wrapper{
        width: 300px !important;
        border-radius: 15px !important;
    }
} 

.styletitre::placeholder{
    color : var(--primaire-visiteur) !important;
    font-size: 16px;
}

.heure{
    gap: 10px !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    width: 302px !important;
}

.input{
    display: block ;
    justify-content: space-evenly !important;
    max-width: fit-content;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;
    position: fixed; /* Position fixe pour superposer */
    top: 0; /* Positionnement vertical */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour l'effet */
    background-color: white;
    z-index: 1000; /* Assure que l'élément est au-dessus des autres */
    padding: 10px; /* Pas de padding initial */
    border: 1px solid var(--gris1);
    border-radius: 1em;
}

.input.open{
    max-width: 1000px !important;
    z-index: 1000 !important;
    height: auto;
    /* position: relative !important; */

}

#nombreOffres{
    display: flex;
    padding-left: 6.8em ;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.toggleBarretrieButton{
    transition: all 0.5s ease-in !important;
}

.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Hidden by default */
}

.page-overlay.active {
    display: block; /* Show when active */
}


.centrer{
    display: flex !important;
    justify-content: center !important;
}


.btnfiltres{
    background-color: var(--primaire-visiteur) !important;
    border: 1px solid var(--primaire-visiteur) !important;
    border-radius: 0.5em !important;
}

.prix, .date{
    display: flex !important;
    flex-direction: column;
    margin: 10px 0;
    
}

.heure{
    margin: 10px 0;
}

.agencement {
    max-height: 90vh; /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto; /* Ajoute une barre de défilement verticale */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    display: none;
}

 .star-overlay {
    position: absolut;
}

 .gold {
    background-color: #fddc5c;
}


.image-container {
    position: relative; /* Important pour positionner les éléments internes */
    width: 300px;
    height: 300px;
    overflow: hidden; /* Évite que l'image ou l'étoile déborde */
}

.offre-image {
    width: 105%;
    height: 105%;
    object-fit: cover; /* Assure que l'image remplit le conteneur */
}

.btnfiltres:hover{
    cursor: pointer;
    background-color: white !important;
}

#map{
    height: 400px;
    width: 900px;
}



#barretrie{
    display: flex ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Styles pour la barre de filtre */
#filterMenu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: fit-content;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    padding: 20px 30px 20px 20px;
    /* overflow-y: auto; */
    z-index: 1000;
    margin-top: 60px;
    opacity: 100%
}

#filterIcon {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    height: 30px;
    background: #acacac70;
    border-radius: 0.7em;
    padding: 4px;
}



/* Lorsque le menu est hover, il s'affiche */
#filterMenu:hover {
    left: 0;
}

.leaflet-top {
    z-index: 999 !important;
}


.leaflet-bottom{
    z-index: 999 !important;
}

svg {
    stroke: var(--primaire-visiteur)        
}

@media (max-width:400px) {
    #map{
        width: 340px !important;
        margin-left: 20px;
    }
    #nombreOffres {
        display: flex;
        padding-left: 3em;
        gap: 20px;
        padding-bottom: 20px;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #filterMenu{
        opacity: 100%;
    }
    .tri-somie {
        > .input-wrapper {
            width: 250px !important;
            border-radius: 15px !important;
            margin-left: 1em;
        }
    }
    #filterIcon {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    height: 20px;
    background: #acacac70;
    border-radius: 0.7em;
    padding: 4px;
    }
    #filterMenu {
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px;
        height: fit-content;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease-in-out;
        padding: 20px 10px 20px 20px;
        /* overflow-y: auto; */
        z-index: 1000;
        margin-top: 60px;
        opacity: 100%;
    }
   
}

