/* Toast.css */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1000;
}

.toast.success {
    background-color: var(--primary-member); /* Change this to your desired color */
}

.toast.error {
    background-color: var(--error);
}

.toast.warning {
    background-color: var(--warning);
}

/* Animation for showing toast */
.toast.show {
    opacity: 1;
    transform: translateY(0);
}

/* Animation for hiding toast */
.toast.hide {
    opacity: 0;
    transform: translateY(-20px);
}
