button {
    border-radius: 8px;
    border: none;
    padding: 15px;
    color: white;
    transition: background-color 0.2s ease;
    height: fit-content;
    width: fit-content;
}

.bg-guest {
    background-color: var(--primary-guest);
}

.bg-member {
    background-color: var(--primary-member);
}

.bg-pro {
    background-color: var(--primary-pro);
}


button:active {
    transform: scale(0.97);
}

.bg-guest:hover {
    background-color: #156638;
}

.bg-member:hover {
    background-color: #075ea0;
}

.bg-pro:hover {
    background-color: #5c0266;
}

button:hover {
    cursor: pointer;
}