@import url('../../ui.css');



footer {
    background-color: var(--grey1);
    text-align: center;
    padding: 20px 0;
    position: relative;

    button {
        color: var(--black);
        background-color: var(--grey1);
        border: 1px solid var(--black);
        padding: 10px 20px;
        font-weight: var(--font-weight-semi-bold);
        cursor: pointer;
        border-radius: 5px;
        transition-duration: 500ms;

        &:hover {
            background-color: var(--black);
            color: var(--white);
        }
    }

    .liens {
        margin: 15px 0;
        font-size: 14px;

        a {
            margin: 0 15px;
            color: var(--black);
            text-decoration: none;
        }
    }

    .icones-reseaux {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            margin: 10px;
        }
    }

    p {
        margin: 10px 0 0;
        font-size: var(--p-small-font-size);
    }

    .remonte-page {
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: var(--primary-guest);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
}
